@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard {
    font-family: "Inter", sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

.sidebar {
    width: 249px;
    background-color: #632121;
    padding: 15px;
    color: white;
    position: fixed;
    height: 100vh;
    z-index: 1;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex; 
    flex-direction: column;
}

.sidebar-header {
    text-align: center;
    margin: 25px 0;
}

.sidebar-header .logo {
    max-width: 100%;
    height: auto;
    width: 60px;
}

.sidebar p {
    margin: 8.5px 0;
	color: #FFCFCF !important;
}

.sidebar .nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 17px;
}

.sidebar .nav-links li {
    margin: 0px 0;
}

.sidebar .nav-links a {
    color: #FFDCDC;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 8.5px 0;
	transition: background-color 0.4s ease;
}

.sidebar .nav-links a:hover {
	background-color: rgba(255, 255, 255, 0.10);
}

.sidebar .nav-links a span.material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-size: 24px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.sidebar .nav-links a.active {
    color: #FFB47E;
}

.sidebar hr {
    border: 0.01px solid #FFFFFF;
    width: 100%;
    margin: 8.5px 0;
	opacity: 0.3;
}

.nav-links li:last-child {
    margin-top: auto;
}

.sidebar .nav-links .management-title {
    color: #646464;
}

.main-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.main-content {
    flex: 1;
    overflow: hidden;
    margin-left: 249px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    position: fixed;
	width: calc(100% - 220px);
    top: 0;
    right: 0;
    height: 60px;
    box-shadow: 0 3px 0 2px #8D5151;

}

#current-page {
    font-size: 22px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 2.5px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info .material-symbols-rounded {
    font-size: 35px;
    margin-right: 10px;
}

.text-info {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.username {
    font-size: 15px;
	color: black;
}

.role {
    font-size: 12px;
    color: #666; 
}

.content-frame {
    width: 100%;
    height: calc(100vh - 60px);
    border: none;
    margin-top: 60px;
    padding: 0;
    overflow-y: auto;
    background-image: url("assets/images/dashboard_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
    }
    
    .header {
        width: 100%;
        left: 0;
    }
    
    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }
    
    .sidebar.active {
        transform: translateX(0);
    }
}
